<section class="section-container w-[600px] mx-auto border p-10">
  <h2 class="text-xl font-semibold mb-4 text-center">Formulario de Usuario</h2>
  <form
    [formGroup]="form"
    class="w-full p-10 flex flex-col gap-3"
    (submit)="onSubmit()"
  >
    <div class="mb-4">
      <label for="name" class="block font-medium">Nombre:</label>
      <input
        required
        id="name"
        formControlName="name"
        [(ngModel)]="user.name"
        class="input input-bordered input-secondary w-full"
      />
      <p
        class="text-red-500"
        *ngIf="this.form.get('name')?.errors?.['required'] && this.form.get('name')?.touched"
      >
        El nombre no puede quedar vacío
      </p>
    </div>

    <div class="mb-4">
      <label for="email" class="block font-medium">Correo electrónico:</label>
      <input
        required
        id="email"
        formControlName="email"
        type="email"
        [(ngModel)]="user.email"
        class="input input-bordered input-secondary w-full"
      />
      <p
        class="text-red-500"
        *ngIf="this.form.get('email')?.errors?.['required'] && this.form.get('email')?.touched"
      >
        El correo no puede quedar vacío
      </p>
      <p
        class="text-red-500"
        *ngIf="this.form.get('email')?.errors?.['email'] && this.form.get('email')?.touched"
      >
        Ingresa un correo válido
      </p>
    </div>

    <div class="mb-4">
      <label for="phone" class="block font-medium">Teléfono:</label>
      <input
        required
        id="phone"
        formControlName="phone"
        type="tel"
        [(ngModel)]="user.phone"
        class="input input-bordered input-secondary w-full"
      />
      <p
        class="text-red-500"
        *ngIf="this.form.get('phone')?.errors?.['required'] && this.form.get('phone')?.touched"
      >
        El teléfono no puede quedar vacío
      </p>

      <p
        class="text-red-500"
        *ngIf="this.form.get('phone')?.errors?.['pattern'] && this.form.get('phone')?.touched"
      >
        Ingrese un teléfono válido de 10 dígitos
      </p>
    </div>

    <div class="mb-4">
      <label for="birthdate" class="block font-medium"
        >Fecha de nacimiento:</label
      >
      <input
        required
        id="birthdate"
        formControlName="birthdate"
        type="date"
        [(ngModel)]="user.birthdate"
        class="input input-bordered input-secondary w-full"
      />
      <p
        class="text-red-500"
        *ngIf="this.form.get('birthdate')?.errors?.['required'] && this.form.get('birthdate')?.touched"
      >
        La fecha de nacimiento no puede quedar vacío
      </p>
    </div>

    <div class="mb-4">
      <label for="gender" class="block font-medium">Género:</label>
      <select
        id="gender"
        formControlName="gender"
        [(ngModel)]="user.gender"
        class="select select-secondary w-full"
      >
        <option value="male">Masculino</option>
        <option value="female">Femenino</option>
      </select>
      <p
        class="text-red-500"
        *ngIf="this.form.get('gender')?.errors?.['required'] && this.form.get('gender')?.touched"
      >
        El género no puede quedar vacío
      </p>
    </div>

    <ng-container *ngIf="!isLoading; else loadingButton">
      <button
      type="submit"
      class="btn btn-secondary mt-10"
      [disabled]="form.value.name === '' || form.invalid"
    >
      Enviar
    </button>
    </ng-container>
    <ng-template #loadingButton>
      <button class="btn" class="btn btn-secondary mt-10" [disabled]="isLoading">
        <span class="loading loading-spinner"></span>
        Cargando...
      </button>
    </ng-template>
  </form>
</section>
