<section class="w-full">
  <h2 class="text-xl font-semibold mb-4">Lista de Usuarios</h2>
  <div class="overflow-x-auto py-10">
    <table class="table border">
      <thead>
        <tr class="bg-neutral text-white text-md">
          <ng-container *ngFor="let column of displayedColumns">
            <th class="p-4 border-b border-gray-300 text-[15px]">{{ column.header }}</th>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let element of dataSource" class="hover">
          <ng-container *ngFor="let column of displayedColumns">
            <td class="p-6 border-b border-gray-300 text-[14px]">
              <!-- Verifica si la columna es 'actions' para agregar el enlace -->
              <ng-container *ngIf="column.key !== 'actions'; else actionsColumn">
                {{ element[column.key] }}
              </ng-container>
              <!-- Si es la columna 'actions', agrega el enlace -->
              <ng-template #actionsColumn>
                <a class="btn btn-outline" [routerLink]="['/form-user']" [queryParams]="{ userId: element.id }">
                  <ng-icon name="heroPencilSquare" class="text-secondary text-2xl"></ng-icon>
                  Editar
                </a>
              </ng-template>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</section>
