<header class="navbar bg-neutral text-neutral-content">
  <div class="flex-1">
    <a routerLink="/" class="btn btn-ghost hover:btn-secondary normal-case text-xl">
      <h1>{{ title }}</h1>
    </a>
  </div>
  <nav class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li>
        <a class="link text-[16px] hover:text-secondary" routerLink="/">Inicio</a>
      </li>
      <li>
        <a class="link text-[16px] hover:text-secondary" routerLink="/form-user">Nuevo Usuario</a>
      </li>
    </ul>
  </nav>
</header>
<main class="container mx-auto py-20">
  <router-outlet></router-outlet>
</main>
